/* Base CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", sans-serif;
  background-color: #ADD8E6;
}

.center-container {
  width: 800px;
  margin: 10px auto;
}

/* StackOverflow docet */
/* By setting font-size:0 to a container
you can remove the white spaces
between inline-block elements*/
.inline-block-fix {
  font-size: 0;
}

/* Main CSS */

.card {
  width: 180px;
  height: auto;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  background-color: #FFF;
  text-align: center;
}

.card-image > .vector-size {
  margin-top: 20px;
  width: 150px;
}

.card-name {
  color: #000;
  font-size: 30px;
}
