/* Base CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", sans-serif;
  background-color: #ADD8E6;
}

.center-container {
  width: 800px;
  margin: 10px auto;
}

/* StackOverflow docet */
/* By setting font-size:0 to a container
you can remove the white spaces
between inline-block elements*/
.inline-block-fix {
  font-size: 0;
}

/* Main CSS */


.card-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 250px;
}

.card {
  border-radius: 10px;
  background-color: #FFF;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  position: absolute;
}

.card.cover {
  background-image: url("../img/pattern.png");
  background-size: contain;
}

.card.front {
  display: none;
}

.card-container:hover .card.front {
  display: inline-block;
}

.card.front > .card-image {
  margin-top: 20px;
  width: 80%;
}

.card.front > .card-name:hover {
  color: red;
}
