/* Base CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", sans-serif;
  background-color: #ADD8E6;
}

.center-container {
  width: 800px;
  margin: 10px auto;
}

/* StackOverflow docet */
/* By setting font-size:0 to a container
you can remove the white spaces
between inline-block elements*/
.inline-block-fix {
  font-size: 0;
}

/* Main CSS */

.card {
  width: 180px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  background-color: #FFF;

}
